body {
    background-color: midnightblue;   /*cor de fundo */
    color: azure;  /*cor da letra  */
    margin: 0px;  /*espaço antes da borda */
}

header {
    border-bottom: solid 2px white;
    padding: 20px;  /* espaçamento depois da borda e antes do conteúdo  */
    font-size: 32px;
    color: white;
}
section{
    background-color: #f9fc67;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right: 5%;

}
h1 {
    font-size: 30px;
}

p  {
     color: rgb(38, 122, 196);
     font-size: 16px;
}   